
<%= render @member_beneficiary %>

<div>
  <%= link_to "Edit", edit_member_beneficiary_path(@member_beneficiary), class: 'btn btn-primary' %> |
  <%= link_to "Back", member_beneficiaries_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @member_beneficiary, method: :delete, class: 'btn btn-danger' %>
</div>
