
<%= render @team %>

<div>
  <%= link_to "Edit", edit_team_path(@team), class: 'btn btn-primary' %> |
  
  <%= link_to "Back", @f.present? ? emp_agreements_path : teams_path, class: 'btn btn-primary' %>
</div>
