<div id="<%= dom_id special_arrangement %>">
  <p>
    <strong>Agreement:</strong>
    <%= special_arrangement.agreement_id %>
  </p>

  <p>
    <strong>Arrangement:</strong>
    <%= special_arrangement.arrangement %>
  </p>

</div>
