<div id="<%= dom_id koopamilya_pb %>">
  <p>
    <strong>Koopamilya ab:</strong>
    <%= koopamilya_pb.koopamilya_ab_id %>
  </p>

  <p>
    <strong>Coverage amount:</strong>
    <%= koopamilya_pb.coverage_amount %>
  </p>

  <p>
    <strong>Benefit:</strong>
    <%= koopamilya_pb.benefit_id %>
  </p>

</div>
