<%= simple_form_for(remark, url: accounting_check_remarks_path(@voucher, e_t: @voucher.entry_type, audit: current_user.is_auditor?)) do |f| %>
  <% if params[:audit].present? && params[:audit].to_s == "true" %>
    <%= f.input :category, as: :select, collection: Remark.categories.keys.map { |c| [c.humanize, c] } %>
  <% end %>

  <div class="form-inputs mb-3">
    <%= f.input :remark, error: '*Required' %>
  </div>

  <div class="form-actions text-center">
    <%= render 'submit_btn', f: f %>
  </div>
<% end %>
