<% if params[:audit].present? && params[:audit].to_s == "true" %>
  <h5 class="card-header">Pending Audit</h5>
<% elsif params[:e_t] == 'request' %>
  <h5 class="card-header">Reject Payment Request</h5>
<% elsif current_user.is_treasurer? %>
  <h5 class="card-header">Mark as Paid</h5>
<% else %>
  <h5 class="card-header">Cancel Voucher</h5>
<% end %>