<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <div class="d-flex gap-1">
      <%= content_tag :h5, 'Remarks', class: "modal-title", id: "staticBackdropLabel" %>
    </div>
      <%= link_to '', @voucher_path, class: 'btn-close', data: {turbo: false}%>
  </div>
  
  <div class="modal-body">
    <%= render @remarks %>
  </div>
<% end %>
