<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <%= render 'header'%>
    <%= link_to '', @voucher_path, class: 'btn-close', data: {turbo: false}%>
  </div>
  
  <div class="modal-body">
    <%= render "form", remark: @remark %>
  </div>
<% end %>