<div>
  <h3 class="text-primary">Cooperatives</h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cooperative</th>
      </tr>
    </thead>
    <tbody>
        <% @cooperatives.each do |coop| %>
          <tr>
            <th scope="row"><%= coop.id %></th>
            <td><%= coop.name %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
