<div id="<%= dom_id process_route %>">
  <p>
    <strong>Name:</strong>
    <%= process_route.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= process_route.department %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= process_route.description %>
  </p>

</div>
