
<%= render @treasury_business_check %>

<div>
  <%= link_to "Edit", edit_treasury_business_check_path(@treasury_business_check), class: 'btn btn-primary' %> |
  <%= link_to "Back", treasury_business_checks_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @treasury_business_check, method: :delete, class: 'btn btn-danger' %>
</div>
