<div id="<%= dom_id emp_agreement %>">
  <p>
    <strong>Employee:</strong>
    <%= emp_agreement.employee_id %>
  </p>

  <p>
    <strong>Agreement:</strong>
    <%= emp_agreement.agreement_id %>
  </p>

</div>
