
<%= render @emp_agreement %>

<div>
  <%= link_to "Edit", edit_emp_agreement_path(@emp_agreement), class: 'btn btn-primary' %> |
  <%= link_to "Back", emp_agreements_path, class: 'btn btn-primary' %>

  <%#= button_to "Delete", @emp_agreement, method: :delete, class: 'btn btn-danger' %>
</div>
