<%# <div class="card">
  
  <div class="card-body"> %>
    <%#= render "form", agreement_benefit: @agreement_benefit %>
  <%# </div>
</div> %>
<%= render "remote_modal", title: "Edit benefit" do %>

  <%#= render "form", agreement_benefit: @agreement_benefit %>
  <%= render "form", url: agreement_benefit_path(@agreement_benefit), meth: 'patch' %>
<% end %>