

<div class="card">
  <div class="card-header">
    <h1>Agreement benefit</h1>
    <%= link_to "Delete", @agreement_benefit, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @agreement_benefit %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_agreement_benefit_path(@agreement_benefit), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", agreement_benefits_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>