<%= render @cause %>
<div>
  <%= link_to "Edit", edit_claims_cause_path(@cause), class: 'btn btn-primary' %> |
  <%= link_to "Back", claims_causes_url, class: 'btn btn-primary' %>
  <%#= button_to "Delete", @cause, method: :delete, class: 'btn btn-danger' %>
</div>
