<%# <div class="card">
  <h5 class="card-header">Edit cf replenish</h5>
  <div class="card-body">
  </div>
</div> %>

<%= render "layouts/modal/remote_modal", title: "Edit" do %>
    <%= render "form", cf_replenish: @cf_replenish %>
<% end %>
