
<%# <div class="card">
  <h5 class="card-header">New cf replenish</h5>
  <div class="card-body">
  </div>
</div> %>
<%= render "layouts/modal/remote_modal", title: "Claims Fund Replenish" do %>
    <%= render "form", cf_replenish: @cf_replenish %>
<% end %>