
# Ignore uploaded files (if using Active Storage).
/storage/*
/log/*
log/development.log

tmp/*
dump.rdb
.byebug_history
/config/master.key
/db/uploads/*
/public/uploads/*
db/seeds.rb
log/development.log
/config/database.yml
/config/.DS_Store
.vscode/*