
# Ignore uploaded files (if using Active Storage).
/storage/*
/log/*
log/development.log
.DS_Store
tmp/*
dump.rdb
.byebug_history
/config/master.key
/db/uploads/*
/db/seeds/*
/db/sql_files/*
/db/seeds.rb
/public/uploads/*
log/development.log
/config/database.yml
/config/.DS_Store
.vscode/*
config/database.yml
```
