<div class="d-flex" style="line-height: 0">
  <h3 class="mb-0 text-center fw-bolder">1 COOPERATIVE INSURANCE SYSTEM OF THE PHILIPPINES</h3> 
  <h3 class="text-center fw-bolder">LIFE AND GENERAL INSURANCE</h3>
  <p class="text-center mb-4">No. 80 Malakas St., Brgy. Pinayahan, Central District, Quezon City</p>
  <h2 class="text-center fw-bolder mb-4"><%= title %></h2>
</div>