<%= turbo_stream.update "member details", partial: "loan_insurance/batches/member_info", locals: { member: @member.member } %>

<% if @previous_loans.empty? %>
  <turbo-stream action="update" target="member loans">
    <template>
    </template>
  </turbo-stream>

  <turbo-stream action="update" target="loan details">
    <template>
    </template>
  </turbo-stream>
<% else %>
  <turbo-stream action="update" target="member loans">
    <template>
        <h6 class="text-primary">Active loans </h6>
        <select class="form-select select optional" name="loan_insurance_batch[unused_loan_id]" id="loan_insurance_batch_unused_loan_id" data-action="change->loan-form#updateLoan focus->loan-form#updateLoan">
          <% @previous_loans.each do |loan| %>
            <option value="<%= loan.id.to_i %>" data-coop-member-target="batch">
              <span><strong><%= loan.loan %>: </strong></span>
              <span><%= to_curr(loan.loan_amount) %></span>
            </option>
          <% end %>
        </select>  
    </template>
  </turbo-stream>
<% end %>

