<div id="<%= dom_id underwriting_route %>">
  <p>
    <strong>Name:</strong>
    <%= underwriting_route.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= underwriting_route.description %>
  </p>

</div>
