
<%= render @claim_request_for_payment %>

<div>
  <%= link_to "Edit", edit_claim_request_for_payment_path(@claim_request_for_payment), class: 'btn btn-primary' %> |
  <%= link_to "Back", claim_request_for_payments_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @claim_request_for_payment, method: :delete, class: 'btn btn-danger' %>
</div>
