<div id="<%= dom_id employee_team %>">
  <p>
    <strong>Employee:</strong>
    <%= employee_team.employee_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= employee_team.team_id %>
  </p>

</div>
