<div id="<%= dom_id billing_statement %>">
  <p>
    <strong>Bs no:</strong>
    <%= billing_statement.bs_no %>
  </p>

  <p>
    <strong>Bs date:</strong>
    <%= billing_statement.bs_date %>
  </p>

  <p>
    <strong>Cashier entry:</strong>
    <%= billing_statement.cashier_entry_id %>
  </p>

</div>
