<div id="<%= dom_id authority_level %>">
  <p>
    <strong>Name:</strong>
    <%= authority_level.name %>
  </p>

  <p>
    <strong>Maxamount:</strong>
    <%= authority_level.maxAmount %>
  </p>

</div>
