<%# <div class="card">
  <h5 class="card-header">Edit authority level</h5>
  <div class="card-body"> %>
<%#= render "form", authority_level: @authority_level %>
<%# </div>
</div> %>
<%= render "remote_modal", title: "Edit attachment" do %>
  <%= render "form", authority_level: @authority_level %>
<% end %>