<div id="<%= dom_id group_proposal %>">
  <p>
    <strong>Cooperative:</strong>
    <%= group_proposal.cooperative_id %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= group_proposal.plan_id %>
  </p>

  <p>
    <strong>Plan unit:</strong>
    <%= group_proposal.plan_unit_id %>
  </p>

</div>
