<div>
    <%= link_to 'Add Member', new_group_remit_batch_path(@group_remit), data: {turbo_frame: "batch_form"}, class: 'btn btn-sm btn-outline-success' %>
    <%= content_tag :button, "Batch Import", 
        class: "btn btn-sm btn-outline-success",
        data: {bs_toggle: "modal",
          bs_target: "#batchEnrollment"
        }%>  
</div>