<div>
    <%= link_to 'Add Member', new_group_remit_batch_path(@group_remit), data: {turbo_frame: "batch_form"}, class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to 'Batch Import', new_group_remit_batch_path(@group_remit), data: {turbo_frame: "batch_import_form"}, class: 'btn btn-sm btn-outline-warning' %>   
</div>