
<%= simple_form_for(@group_remit) do |f| %>
    <%= f.input :official_receipt, label: false, placeholder: "Official Receipt #" %>
    <div class="text-center">
      <%= f.button :submit, 'Confirm', class: 'btn btn btn-success' %>
    </div>
<% end %>