<%= form_with url: payment_path(@group_remit), html: {data: {controller: 'payment-upload'}} do |form| %>
  <%= form.label :file, "Upload proof of payment", class: "text-primary" %>
    <div class="d-flex gap-1  mb-1 align-items-center">
        <%= form.file_field :file, 
          class: "form-control", 
          style: "width: 80%" ,
          data: {payment_upload_target: 'file'}
        %>
        <%= submit_tag 'Upload', 
          class: "btn btn-sm btn-outline-success", 
          data: {turbo: 'false', action: 'click->payment-upload#submit', payment_upload_target: 'button'} 
        %>
    </div>
<% end %>