 <%= f.input :claimant_name, label: "Name", error: "*Required" %>
<div class="mb-3">
  <%= f.input :relationship %>
</div>
<%#= f.input :relationship, label: "Relationship with the Insured" %>
<%= f.input :claimant_contact_no, label: "Contact Number", error: "*Required" %>
<%= f.input :claimant_email, label: "Email", error: "*Required" %>
