<div class="card">
  <div class="card-header">
    <dl class="row">
      <dt class="col-sm-4">Date filed</dt>
      <dd class="col-sm-8"><%= to_shortdate(@process_claim.date_file) unless @process_claim.date_file.nil? %></dd>
      <dt class="col-sm-4">Cooperative</dt>
      <dd class="col-sm-8"><%= @process_claim.cooperative %></dd>
      <dt class="col-sm-4">Status</dt>
      <dd class="col-sm-8"><%= @process_claim.status.humanize unless @process_claim.status.nil? %></dd>
      <dt class="col-sm-4">Authority Level</dt>
      <dd class="col-sm-8"><%= to_curr(session[:max_amount]) %></dd>
    </dl>
  </div>
</div>