<div class="mb-3">
  <ul class="timeline">
  <% @process_claim.process_track.order(created_at: :desc).each do |ct| %>
    <li class="mb-3">
      <p class="text-primary mb-1"> <%= ProcessClaim.get_route(ct.route_id).to_s.humanize.titleize %> <small class="text-muted"> <%= ct.created_at %> </small></p>
      <small> <%= ct.description %> by <%= ct.user %> </small>
    </li>
  <% end %>
  </ul>
</div>
