<%#= render "form_ca", process_claim: @process_claim %>
<%# <div class="col-md-6" style="margin: auto"> %>
<%= render "form_ca", url: create_ca_process_claims_path(v: @process_claim, cm: @coop_member), meth: 'post' %>
<%# </div> %>
