<div class="card border-primary mb-3" style="min-width: 13rem;">
  <div class="card-body text-primary">
    <%= content_tag :p, number_with_delimiter(count), class: 'fs-1 mb-0 ps-1'  %>
    <%= content_tag :span, title%>
  </div>
</div>