<div id="<%= dom_id product_benefit %>">
  <p>
    <strong>Coverage amount:</strong>
    <%= product_benefit.coverage_amount %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= product_benefit.premium %>
  </p>

  <p>
    <strong>Agreement benefit:</strong>
    <%= product_benefit.agreement_benefit_id %>
  </p>

</div>
