<%# <div class="card">
  <h5 class="card-header">Edit cf account</h5>
  <div class="card-body">
  </div>
</div> %>
<%= render "claims/claim_confinements/remote_modal", title: "Edit reinsurance" do %>
    <%= render "form", cf_account: @cf_account %>

<% end %>