

<div class="card">
  <div class="card-header">
    <h1>Requirement</h1>
    <%= link_to "Delete", @requirement, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @requirement %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_requirement_path(@requirement), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", requirements_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>