
<%= render @bank %>

<div>
  <%= link_to "Edit", edit_bank_path(@bank), class: 'btn btn-primary' %> |
  <%= link_to "Back", banks_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @bank, method: :delete, class: 'btn btn-danger' %>
</div>
