<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <%= content_tag :h5, "New entry for #{@payment.payable.name}", class: "modal-title text-center", id: "staticBackdropLabel" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <%= render "form", entry: @entry %>
  </div>
<% end %>