<div class="<%= flex_justify_align('', 'center') %> gap-1 mb-1">
  <%= link_to :back, class: 'btn btn-sm btn-secondary' do %>
    <i class="bi bi-arrow-90deg-left"></i>
  <% end %>

  <%= content_tag :h1, 'Receipt', class: 'mb-0' %>
</div>

<%= render 'cashier_entry', entry: @entry, coop: @coop %>