<div id="<%= dom_id claim_request_for_payment %>">
  <p>
    <strong>Process claim:</strong>
    <%= claim_request_for_payment.process_claim_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_request_for_payment.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= claim_request_for_payment.status %>
  </p>

</div>
