
<div class="card">
  <h5 class="card-header">New claim request for payment</h5>
  <div class="card-body">
    <%= render "form", claim_request_for_payment: @claim_request_for_payment %>
  </div>
</div>
