
<div class="row d-flex fustify-content-center" >

<div class="col-md-8" style="margin: auto;">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Policy Owner:</h6>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= "#{@dependent.member.last_name}, #{@dependent.member.first_name} #{@dependent.member.middle_name}" %>
        </div>
        <div class="col-sm-3">
          <%# if batch_dependent.is_dependent? && batch_dependent.is_beneficiary?%>
            <%#= content_tag :h6, 'Beneficiary/Dependent: ', class: "mb-0" %>
          <%# elsif batch_dependent.is_dependent? %>
            <%= content_tag :h6, 'Dependent: ', class: "mb-0" %>
          <%# elsif batch_dependent.is_beneficiary? %>
            <%#= content_tag :h6, 'Beneficiary: ', class: "mb-0" %>
          <%# end %>
        </div>
        <div class="col-sm-3 text-secondary">
          <%= "#{@dependent.last_name}, #{@dependent.first_name} #{@dependent.middle_name}" %>
        </div>
      </div>
      <hr>
      <%# if batch_dependent.is_dependent? %>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Premium</h6>
          </div>
          <div class="col-sm-3 text-secondary">
            <%= number_to_currency(batch_dependent.premium, unit: "₱", precision: 2) %>
          </div>
        </div>
      <%# end %>
    </div>
  </div>
</div>
</div>