<div id="<%= dom_id loan %>">
  <p>
    <strong>Name:</strong>
    <%= loan.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= loan.description %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= loan.cooperative_id %>
  </p>

</div>
