<%= simple_form_for(@note, url: claims_process_claim_remarks_path) do |f| %>
  <div class="form-inputs mb-3">
    <%= f.input :remark, error: '*Required' %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit class: small_btn('success') %>
    <%= link_to 'Back', approve_claim_debit_claims_process_claim_path(@process_claim), class: small_btn('secondary') %>
  </div>
<% end %>
