<div class="btn-group">
  <button type="button" class="<%= small_btn('warning') %> dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-funnel-fill"></i>
  </button>
  <ul class="dropdown-menu">
    <!--
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    -->
    <%= yield %>
  </ul>
</div>