<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <h5 class="card-header">New remark</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <%= render "form", remark: @remark %>
  </div>
  <% console %>
<% end %>