<div id="<%= dom_id agent_group %>">
  <p>
    <strong>Name:</strong>
    <%= agent_group.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= agent_group.description %>
  </p>

  <ul class="list-group col-5 mb-3">
    <% @agents.each do |agent| %>
      <li class="list-group-item"><%= agent %></li>
    <% end %>
  </ul>

</div>
