
<%= render @retention %>

<div>
  <%= link_to "Edit", edit_loan_insurance_retention_path(@retention), class: 'btn btn-primary' %> |
  <%= link_to "Back", loan_insurance_retentions_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @retention, method: :delete, class: 'btn btn-danger' %>
</div>
