<%= content_tag :h4, "#{@display}", class:"text-primary" %>
<table class ="table table-striped">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Details</th>
        <th>Insurance</th>
        <%# <th>Batch</th> %>
        <%# <th>Date Incident</th>
        <th>Entry Type</th> %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @process_claims.each do |process_claim| %>
        <tr>
            <%= render 'index_row', process_claim: process_claim %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
