<%= link_to 'New attachment', attach_new_doc_claims_claim_attachments_path(p: @process_claim), class: "btn btn-primary btn-sm mb-3", data: { turbo_frame: "remote_modal" } if @process_claim.claim_filed? || @process_claim.file_claim? %>
<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-top border-bottom border-primary">
      <%# <th class="text-primary">ID</th> %>
      <th class="text-primary">Documents</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @process_claim.claim_attachments.each do |ca| %>
      <tr>
        <%# <td>= benefit_claim.id</td> %>
        <td><%= ca.claim_type_document.claim_document %> <br>
          <small class="text-muted"><%= ca.created_at %></small> </td>
        <td>
          <%= link_to '<i class="bi bi-eye"></i>'.html_safe, rails_blob_url(ca.doc), target: :_blank, class: 'btn btn-outline-primary btn-sm' if ca.doc.attached?  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
