<div id="<%= dom_id claim_payment %>">
  <p>
    <strong>Beneficiary:</strong>
    <%= claim_payment.beneficiary %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= claim_payment.amount %>
  </p>

  <p>
    <strong>Process claim:</strong>
    <%= claim_payment.process_claim_id %>
  </p>

</div>
