<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <h5 class="card-header">Payment remarks</h5>
    <%= link_to '', payment_path(@payment), class: 'btn-close', data: {turbo: false}%>
  </div>
  
  <div class="modal-body">
    <%= render "form", remark: @remark %>
  </div>
<% end %>