
<%= turbo_frame_tag "#{params[:coop] ? 'reg_form_modal' : 'reg_form_modal_xl'}" do %>
  <div class="modal-header">
    <%= content_tag :h5, 'Remarks', class: "modal-title", id: "staticBackdropLabel" %>
    <% if params[:coop] %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <% else %>
      <%= link_to  show_all_group_remit_batch_dependents_path(params[:group_remit_id], params[:batch_id], process_coverage_id: params[:process_coverage_id] ) do %>
        <button type="button" class="btn-close" aria-label="Close"></button>
      <% end %>
    <% end %>
  </div>
  
  <div class="modal-body">
    <%= render 'dependent_remarks', remarks: @remarks, group_remit: @group_remit, batch: @dependent, agreement: @group_remit.agreement %>
  </div>
<% end %>