<div id="<%= dom_id unit_benefit %>">
  <p>
    <strong>Plan unit:</strong>
    <%= unit_benefit.plan_unit_id %>
  </p>

  <p>
    <strong>Benefit:</strong>
    <%= unit_benefit.benefit_id %>
  </p>

  <p>
    <strong>Coverage amount:</strong>
    <%= unit_benefit.coverage_amount %>
  </p>

</div>
