<div id="<%= dom_id user_level %>">
  <p>
    <strong>User:</strong>
    <%= user_level.user_id %>
  </p>

  <p>
    <strong>Authority level:</strong>
    <%= user_level.authority_level_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= user_level.active %>
  </p>

</div>
