<%# <h1>Register#register_created</h1> %>
<%= image_tag attachments['cis_logo.png'].url, alt: 'My Photo',width: 100, class: 'photos' %>
<div class="content-letter">
  <p>Dear <%= @process_claim.claimable.get_fullname  %>,</p>
  <p>Co-operative greetings from 1CISP!</p>
  <p>Thank you for registering to our 50th Annual General Assembly scheduled on April 12-13, 2024. The event will be held at the Manila Marriott Hotel, located at Newport Boulevard, Newport City, Pasay 1309, Metro Manila. Please be sure you've got the date blocked on your calendar to join us.</p>
</div>
