
<%= render @koopamilya_ab %>

<div>
  <%= link_to "Edit", edit_koopamilya_ab_path(@koopamilya_ab), class: 'btn btn-primary' %> |
  <%= link_to "Back", koopamilya_abs_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @koopamilya_ab, method: :delete, class: 'btn btn-danger' %>
</div>
