<div class="modal fade" id="gyrtModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">
          GYRT Pendings
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Benefits</th>
            <th>Premium</th>
            <th>Remarks</th>
          </thead>
          <tbody>
            <tr>
              <td colspan=5>NO RECORD(S).</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>