<div class="card col-md-6 ps-0 pe-0">
  <h5 class="card-header text-center">Register</h5>
  <div class="card-body"> 
		<div id="coopForm">
				<%= render "coop_users/form", coop_user: @coop_user %>
		</div>

	</div>
</div>






