<% batch_presenter = BatchPresenter.new(batch)%>

<div class="">
	<%#= content_tag :span, "#{member.full_name}", class: 'text-primary' %>
	<%= content_tag :span, "#{batch.coop_member.member.full_name}", class: 'text-primary' %>

	<div class="small">
		<%= content_tag :span, batch.age, class: 'text-secondary' %>
	  <%#= content_tag :span, "(#{to_shortdate(batch.birthdate)})", class: 'text-secondary' %>
	  <%= content_tag :span, "(#{to_shortdate(batch.coop_member.member.birth_date)})", class: 'text-secondary' %>
	</div>
</div>

