<% batch_presenter = BatchPresenter.new(batch)%>

<div class="">
	<%= content_tag :span, "#{batch.full_name}", class: 'text-primary' %>
	<div class="small">
		<%= content_tag :span, batch.age, class: 'text-secondary' %>
	  <%= content_tag :span, "(#{to_shortdate(batch.birthdate)})", class: 'text-secondary' %>
	</div>
</div>

