<%= @batch %>

<%= turbo_frame_tag "reg_form_modal" do %>
  <div class="modal-header">
    <%= content_tag :h5, 'Remarks', class: "modal-title", id: "staticBackdropLabel" %>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  
  <div class="modal-body">
    <%= render 'batch_remarks', batch: @batch, group_remit: @group_remit %>
  </div>
<% end %>
