<div>
  <%= link_to "#{@group_remit.name}", group_remit_path(@group_remit), class: 'btn btn-secondary mb-3' %>
</div>

<%= render partial: 'batch_display', locals: { batch: @batch, batch_member: @batch_member } %>

