<div>
  <%= link_to "#{@group_remit.name}", group_remit_path(@group_remit), class: 'btn btn-secondary mb-3' %>
  <%= link_to "#{@batch_member.member.first_name}'s details", coop_member_path(@batch_member.id), class: 'btn btn-secondary mb-3' %>
</div>

<%= render partial: 'batch_display', locals: { batch: @batch, batch_member: @batch_member } %>