<div id="<%= dom_id claim_document %>">
  <p>
    <strong>Name:</strong>
    <%= claim_document.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= claim_document.description %>
  </p>
</div>
