<div class="card">
  <h5 class="card-header">Edit document</h5>
  <div class="card-body">
    <%#= render "form", cause: @cause %>
    <%= render "form", url: claims_claim_document_url, meth: 'patch' %>
  </div>
</div>
