<div id="<%= dom_id reinsurance_member %>">
  <p>
    <strong>Reinsurance:</strong>
    <%= reinsurance_member.reinsurance_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= reinsurance_member.member_id %>
  </p>

</div>
