<div id="<%= dom_id account_beginning_balance %>">
  <p>
    <strong>Account:</strong>
    <%= account_beginning_balance.account_id %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account_beginning_balance.balance %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= account_beginning_balance.year %>
  </p>

</div>
