
<div class="card">
  <h5 class="card-header">New account beginning balance</h5>
  <div class="card-body">
    <%= render "form", accounting_account_beginning_balance: @accounting_account_beginning_balance %>
  </div>
</div>
