<div id="<%= dom_id emp_approver %>">
  <p>
    <strong>Employee:</strong>
    <%= emp_approver.employee_id %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= emp_approver.approver_id %>
  </p>

</div>
