/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.hidden {
  display: none !important;
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.modal-front {
  z-index: 1001; /* Adjust the value as needed */
}
// input[type="submit"],
// button,
// .btn .btn-success {
//   color: #fff !important;
//     background-color: #198754 !important;
//     border-color: #198754 !important;
//   background-image: none !important;
//   border-radius: 0.25rem !important;
//   font-weight: 400 !important;
//     line-height: 1.5 !important;
// }

input[type=checkbox]:hover, input[type="date"]:hover {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 svg.ss-arrow {
  display: none !important;
}

.coop-member-form {
  gap: 20px;

}

.sm-secondary-text {
  font-size: .8rem;
}

.sm-green-text {
  font-size: .7rem; 
  color: var(--bs-green) !important; 
  font-weight: 700;
}

.sm-red-text {
  font-size: .7rem; 
  color: var(--bs-red) !important; 
}

.lg-card {
  height:  70vh;
}

.hovered-link:hover {
  color: black;
}

// .long-name {
//   display: inline-block;
//   max-width: 200px; /* Set the desired maximum width */
//   overflow-wrap: break-word; 
// }