@import "bootstrap";

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(60deg, rgb(226, 228, 231) 0%, rgb(230, 233, 223) 0%, rgb(241, 244, 244) 100%);
}

.bg_gradient {
    background: linear-gradient(60deg, rgb(226, 228, 231) 0%, rgb(230, 233, 223) 0%, rgb(241, 244, 244) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    margin-bottom: 10px;
}

.row {
    display: -webkit-box;
}


// .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
// .sent_msg {
//   float: right;
//   width: 46%;
// }
// .sent_msg p {
//     background: #05728f none repeat scroll 0 0;
//     border-radius: 3px;
//     font-size: 14px;
//     margin: 0; color:#fff;
//     padding: 5px 10px 5px 12px;
//     width:100%;
//   }
// .received_withd_msg { width: 57%;}
// .mesgs {
//   float: left;
//   padding: 30px 15px 0 25px;
//   width: 60%;
// }
// .received_withd_msg { width: 57%;}
// .msg_history {
//     height: 516px;
//     overflow-y: auto;
//   }
// .footer {
//     background: linear-gradient(to bottom, rgb(245, 247, 250) 0%, rgb(230, 233, 223) 0%, rgb(58, 114, 244));
// }