<div id="<%= dom_id geo_municipality %>">
  <p>
    <strong>Geo region:</strong>
    <%= geo_municipality.geo_region_id %>
  </p>

  <p>
    <strong>Geo provice:</strong>
    <%= geo_municipality.geo_provice_id %>
  </p>

</div>
