

<div class="card">
  <div class="card-header">
    <h1>Coop type</h1>
    <%= link_to "Delete", @coop_type, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
  </div>
  <div class="card-body">
    <%= render @coop_type %>
  </div>
  <div class="card-footer">
    <%= link_to "Edit", edit_coop_type_path(@coop_type), class: "btn btn-secondary btn-sm" %> |
    <%= link_to "Back", coop_types_path, class: "btn btn-secondary btn-sm" %>
  </div>

</div>