
<%= render @loan_insurance_detail %>

<div>
  <%= link_to "Edit", edit_loan_insurance_detail_path(@loan_insurance_detail), class: 'btn btn-primary' %> |
  <%= link_to "Back", loan_insurance_details_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @loan_insurance_detail, method: :delete, class: 'btn btn-danger' %>
</div>
