<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>
    <p>
    <strong>Acronym:</strong>
    <%= plan.acronym %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

</div>
